.navbar {
  height: 100%;
  h6 {
    margin: 10px 20px;
    margin-top: 20px;
  }
}
.icon {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 10px;
  align-items: center;
  margin: 10px 30px;
  svg {
    color: #7451f8;
    height: 18px;
  }
}
